<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="K3_URL" value="http://localhost/k3Cloud/" />
    <add key="K3_ZTID" value="5f617bd93132be" />
    <add key="K3_USERNAME" value="Administrator" />
    <add key="K3_PWD" value="whhs28793068" />
    <add key="SQL_IP" value="192.168.0.199" />
    <add key="SQL_Port" value="" />
    <add key="SQL_Catalog" value="AIS20200916104219" />
    <add key="SQL_User" value="APITest" />
    <add key="SQL_PWD" value="k3cloudTest" />
    <add key="DIR_CPDB_Department" value="" />
    <add key="DIR_CPDB_Stock" value="" />
    <add key="T_PickSeconds" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
